*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Arial, Helvetica, sans-serif;
    background:black;
}

#menu{
    position:fixed;

    width:100%;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:
    linear-gradient(
        to bottom,
        #000814,
        #001d3d
    );

    z-index:99999;
}

.menuCard{
    width:600px;

    padding:40px;

    border-radius:30px;

    background:
    rgba(0,0,0,0.88);

    border:3px solid #00d9ff;

    text-align:center;

    color:white;

    box-shadow:
    0 0 40px #00d9ff;
}

.menuCard h1{
    font-size:52px;

    color:#00d9ff;

    margin-bottom:25px;

    text-shadow:
    0 0 20px #00d9ff;
}

.menuContent p{
    margin:12px 0;

    font-size:22px;
}

.menuContent h2,
.menuContent h3{
    color:#00d9ff;

    margin-top:18px;
}

#startBtn{
    margin-top:35px;

    width:260px;
    height:75px;

    border:none;

    border-radius:18px;

    background:#00d9ff;

    color:black;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;

    transition:0.3s;
}

#startBtn:hover{
    transform:scale(1.06);

    box-shadow:
    0 0 25px #00d9ff;
}

#game{
    position:relative;

    width:100vw;
    height:100vh;

    overflow:hidden;

    background:black;
}

#background{
    position:absolute;

    width:100%;
    height:200%;

    background-image:
    url("./imagens/plano_de_fundo.png");

    background-repeat:repeat-y;

    background-size:cover;

    animation:bgMove 18s linear infinite;
}

@keyframes bgMove{

    from{
        transform:translateY(0);
    }

    to{
        transform:translateY(-50%);
    }
}

#player{
    position:absolute;

    width:104px;
    height:104px;

    z-index:9999;

    background-image:
    url("./imagens/Sonic_Spritesheet.png");

    background-repeat:no-repeat;

    background-size:832px 312px;

    background-position:0px 0px;

    background-color:transparent;

    image-rendering:pixelated;

    pointer-events:none;
}

.platform{
    position:absolute;

    width:230px;
    height:60px;

    background-size:100% 100%;
    background-repeat:no-repeat;

    z-index:10;

    filter:
    drop-shadow(
        0 10px 10px rgba(0,0,0,0.6)
    );
}

.rock{
    position:absolute;

    background-size:100% 100%;
    background-repeat:no-repeat;

    z-index:90;

    filter:
    drop-shadow(
        0 0 10px rgba(255,255,255,0.2)
    );
}

.bullet{
    position:absolute;

    width:10px;
    height:30px;

    border-radius:20px;

    background:#00e5ff;

    box-shadow:
    0 0 18px #00e5ff;
}

.particle{
    position:absolute;

    width:8px;
    height:8px;

    border-radius:50%;

    background:white;

    pointer-events:none;
}

#hud{
    position:fixed;

    top:15px;
    left:15px;

    display:flex;

    gap:15px;

    z-index:999;
}

.hudBox{
    background:
    rgba(0,0,0,0.65);

    padding:14px;

    border-radius:18px;

    color:white;

    min-width:170px;

    border:2px solid rgba(255,255,255,0.15);

    backdrop-filter:blur(4px);

    box-shadow:
    0 0 15px rgba(0,0,0,0.4);
}

.hudBox span{
    display:block;

    font-size:14px;

    color:#aaa;
}

.hudBox strong{
    font-size:30px;

    color:#00d9ff;
}

#powerBar{
    width:180px;
    height:18px;

    background:
    rgba(255,255,255,0.12);

    border-radius:20px;

    overflow:hidden;

    margin-top:10px;

    border:
    2px solid rgba(255,255,255,0.15);
}

#powerFill{
    width:100%;
    height:100%;

    background:
    linear-gradient(
        to right,
        #00d9ff,
        #00fff2
    );

    transition:width 0.1s linear;
}

#gameOver{
    position:fixed;

    width:100%;
    height:100vh;

    background:rgba(0,0,0,0.92);

    display:none;

    justify-content:center;
    align-items:center;

    z-index:999999;
}

.gameOverBox{
    width:520px;

    padding:45px;

    border-radius:25px;

    background:#111;

    border:3px solid red;

    text-align:center;

    color:white;

    box-shadow:
    0 0 40px red;
}

.gameOverBox h1{
    font-size:65px;

    color:red;

    margin-bottom:20px;
}

.gameOverBox p{
    font-size:30px;

    margin-bottom:35px;
}

.gameOverBox button{
    width:250px;
    height:70px;

    border:none;

    border-radius:18px;

    background:#00d9ff;

    font-size:24px;

    font-weight:bold;

    cursor:pointer;
}

.power-blast{
    position:absolute;

    border:5px solid #00d9ff;

    border-radius:50%;

    background:
    rgba(0,217,255,0.08);

    box-shadow:
    0 0 60px #00d9ff,
    inset 0 0 30px #00d9ff;

    pointer-events:none;

    z-index:95;

    transform:translate(-50%, -50%);

    animation:blastAnim 0.7s ease-out forwards;
}

@keyframes blastAnim{

    from{
        width:0;
        height:0;
        opacity:1;
    }

    to{
        width:1800px;
        height:1800px;
        opacity:0;
    }
}